<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <connectionStrings>
    <add connectionString="Data Source=../../../DATABASE/Resources/MDB.db3; Version=3;" name="MainSQLiteDB" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>
