<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>    
    <add connectionString="Data Source=../../../DATABASE/Resources/MDB.db3; Version=3;" name="MainSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBAccessories.db3; Version=3;" name="AccessoriesSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBBolts.db3; Version=3;" name="BoltsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBFibreglass.db3; Version=3;" name="FibreglassSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBModels.db3; Version=3;" name="ModelsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBSections.db3; Version=3;" name="SectionsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBMaterials.db3; Version=3;" name="MaterialsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBMaterialsRC.db3; Version=3;" name="MaterialsRCSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBMeshesRC.db3; Version=3;" name="MeshesRCSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBJoints.db3; Version=3;" name="JointsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBStrings.db3; Version=3;" name="StringsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBTEKScrews.db3; Version=3;" name="TEKScrewsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBTrapezoidalSheeting.db3; Version=3;" name="TrapezoidalSheetingSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../../DATABASE/Resources/MDBWashers.db3; Version=3;" name="WashersSQLiteDB" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="CustomerName" value="ondro" />
    <add key="Role" value="developer" />
    <add key="LicenseKey" value="vnhkvuLiv1AK7QWD9KnoJxyAQoVNNCOzRdL6aE/acRXdkhTiYj4LCUW8r7UlSA3amBHW3vQ74+sY9F+A5PmkZHUo/bXKXqg3dqZ5KkgZKdgJKd9VWrsYcwkUD45Mloet" />

    <!--<add key="Role" value="customer" />
    <add key="LicenseKey" value="jR2kP+V59CLlfD3bnNbK5plzQdg/JnfCBRLWwd19DpeY7bb6p6kpOZoGfkYZ9zbXomMZo5ZBafJ72COFNhIzfOn3uyq6iVkY3WBVEXSgXfSGbpewVRBm8SWon9jihdYQ" />-->

    <!--<add key="Role" value="engineer" />
    <add key="LicenseKey" value="80f0hqj4WNC1NJkeheIZuVp/+YVw4sV7+6VzckvqR+86/337Gvoumu9jXiYLy3IIKCykNjets6N/DzrjrrAb/farCReQO1vf7IBmY6gHgH3bQYyeuhMINqSBt9TtG9W7" />-->

    <!--<add key="Role" value="salesperson" />
    <add key="LicenseKey" value="AFMKGVYQutqo7JshF58roCk2Vy/zSHpNo5IrgbmngSCHFgR91l81FbRyURe0W/YWOajpyBtJ8PhUbJssNiD/mlITAvv3XGHjDkN3sHsqDGAJD1wNxaxzoys78XwZAJ5n" />-->

    <add key="ShowSplashScreen" value="0" />
    
    <add key="ResourcesFolder" value="../../Resources/" />
    <add key="logoForPDF" value="../../Resources/FSlogo90x90.PNG" />
    <add key="confStampForPDF" value="../../Resources/Confidential.PNG" />
    <add key="JB" value="../../Resources/JB.PNG" />
    <add key="JC" value="../../Resources/JC.PNG" />
    <add key="KB_RK" value="../../Resources/KB_RK.PNG" />
    <add key="KB_FK" value="../../Resources/KB_FK.PNG" />
    <add key="KC_RK" value="../../Resources/KC_RK.PNG" />
    <add key="KC_FK" value="../../Resources/KC_FK.PNG" />
    <add key="KD_RK" value="../../Resources/KD_RK.PNG" />
    <add key="KD_FK" value="../../Resources/KD_FK.PNG" />
    <add key="KE_RK" value="../../Resources/KE_RK.PNG" />
    <add key="KE_FK" value="../../Resources/KE_FK.PNG" />
    <add key="KF_RK" value="../../Resources/KF_RK.PNG" />
    <add key="KF_FK" value="../../Resources/KF_FK.PNG" />
    <add key="O_RK" value="../../Resources/O_RK.PNG" />
    <add key="O_FK" value="../../Resources/O_FK.PNG" />
    <add key="screwModel3D" value="../../Resources/self_drilling_screwModel3D.xaml" />
    <add key="logoAndDetails" value="../../Resources/FSlogoAndDetails.png" />
    <add key="logo2" value="../../Resources/FSlogo2.png" />
    <add key="10075" value="../../Resources/crsc10075_3D.png" />
    <add key="270115" value="../../Resources/crsc270115_3D.png" />
    <add key="270115btb" value="../../Resources/crsc270115btb_3D.png" />
    <add key="270115n" value="../../Resources/crsc270115n_3D.png" />
    <add key="27055" value="../../Resources/crsc27055_3D.png" />
    <add key="27095" value="../../Resources/crsc27095_3D.png" />
    <add key="27095n" value="../../Resources/crsc27095n_3D.png" />
    <add key="50020" value="../../Resources/crsc50020_3D.png" />
    <add key="50020n" value="../../Resources/crsc50020n_3D.png" />
    <add key="63020" value="../../Resources/crsc63020_3D.png" />
    <add key="63020s1" value="../../Resources/crsc63020s1_3D.png" />
    <add key="63020s2" value="../../Resources/crsc63020s2_3D.png" />
    <add key="SD_01_roof" value="../../Resources/SD_01_roof.png" />
    <add key="SD_02_barge" value="../../Resources/SD_02_barge.png" />
    <add key="SD_03_ridge" value="../../Resources/SD_03_ridge.png" />
    <add key="SD_04_cladding" value="../../Resources/SD_04_cladding.png" />
    <add key="SD_05_cladding_corner" value="../../Resources/SD_05_cladding_corner.png" />
    <add key="SD_06_gutter" value="../../Resources/SD_06_gutter.png" />
    <add key="SD_07_roller_door_surround" value="../../Resources/SD_07_roller_door_surround.png" />
    <add key="SD_08_pa_door_surround" value="../../Resources/SD_08_pa_door_surround.png" />
    <add key="SawCutDetail" value="../../Resources/SawCutDetail.png" />
    <add key="ControlJointDetail" value="../../Resources/ControlJointDetail.png" />
    <add key="PerimeterDetail" value="../../Resources/PerimeterDetail.png" />
    <add key="RollerDoorRebateDetail" value="../../Resources/RollerDoorRebateDetail.png" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
