<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
  <connectionStrings>
    <!--<add connectionString="Data Source=D:\MDB.db3;" name="MainSQLiteDB" providerName="System.Data.SQLite"/>-->
    <!--<add connectionString="Data Source=./Resources/MDB.db3;" name="MainSQLiteDB" providerName="System.Data.SQLite"/>-->
    <!--<add connectionString="Data Source=../../Resources/MDB.db3; Version=3;" name="MainSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBSections.db3; Version=3;" name="SectionsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBMaterials.db3; Version=3;" name="MaterialsSQLiteDB" providerName="System.Data.SQLite" />-->
    <add connectionString="Data Source=../../Resources/MDB.db3; Version=3;" name="MainSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBModels.db3; Version=3;" name="ModelsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBSections.db3; Version=3;" name="SectionsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBMaterials.db3; Version=3;" name="MaterialsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBTEKScrews.db3; Version=3;" name="TEKScrewsSQLiteDB" providerName="System.Data.SQLite" />
    <add connectionString="Data Source=../../Resources/MDBTrapezoidalSheeting.db3; Version=3;" name="TrapezoidalSheetingSQLiteDB" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>
